In [5]:
import numpy as np 
import se
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import ExtraTreeRegressor
import pickle
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import metrics
from bs4 import BeautifulSoup
from math import sqrt
from sklearn.metrics import mean_squared_error

In [6]:
cars= pd.read_csv("cars.csv")
cars.drop(columns="Unnamed: 0",inplace=True)

cars["car_doors"].unique()

array(['2 door', '4 door', '3 door'], dtype=object)

In [7]:
cor= cars.corr()
plt.figure(figsize=(12,10))
matrix = np.triu(cor)
sns.heatmap(cor, annot=True, cmap=plt.cm.Reds, mask=matrix)
plt.show()

NameError: name 'sns' is not defined

In [30]:
def car4(s):
    if "5+" in s:
        return "4 door"
    else:
        return s
cars["car_doors"]=cars["car_doors"].apply(car4)
cars[cars["car_model"]=="Land Cruiser"]

         car_model car_brand car_doors  car_year  car_odo  car_price
105   Land Cruiser    Toyota    4 door      2022        0     360000
150   Land Cruiser    Toyota    4 door      2012   395000      79000
194   Land Cruiser    Toyota    4 door      2021    20000     237000
231   Land Cruiser    Toyota    4 door      2018   123000     219900
361   Land Cruiser    Toyota    4 door      2022        0     465000
...            ...       ...       ...       ...      ...        ...
9709  Land Cruiser    Toyota    4 door      2022        0     365000
9747  Land Cruiser    Toyota    4 door      2022       50     419000
9863  Land Cruiser    Toyota    4 door      2003   135000      22500
9906  Land Cruiser    Toyota    4 door      2021     9178     220000
9928  Land Cruiser    Toyota    4 door      2003   310000      25000

[179 rows x 6 columns]

In [43]:
carsd = pd.get_dummies(cars)
carsd

,car_year,car_odo,car_price,car_model_1-Series,car_model_1500 TRX,car_model_2-Series,car_model_3,car_model_3-Series,car_model_3008,car_model_308,...,car_brand_RAM,car_brand_Renault,car_brand_Rolls Royce,car_brand_Suzuki,car_brand_Tesla,car_brand_Toyota,car_brand_Volkswagen,car_doors_2 door,car_doors_3 door,car_doors_4 door
0,2022,5000,599000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2022,0,1320000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2022,0,1150000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2021,2500,1100000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2022,0,1000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1541,2022,15,788000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1542,2022,1600,960000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1543,2022,2700,819000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1544,2018,90,40000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1545,2021,9178,220000,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [44]:
x=carsd.drop(columns="car_price")
y=carsd["car_price"]

In [45]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2)

In [46]:
model = ExtraTreeRegressor()
model.fit(xtrain, ytrain)

DecisionTreeRegressor()

In [47]:
predictions = model.predict(carsd.drop(columns="car_price"))

lis = []
for i in predictions:
    lis.append(round(i,0))
cars["predictions"]=lis
cars

,car_model,car_brand,car_doors,car_year,car_odo,car_price,predictions
0,Carrera / 911,Porsche,2 door,2022,5000,599000,599000.0
1,Urus,Lamborghini,4 door,2022,0,1320000,1388714.0
2,GLS-Class,Mercedes-Benz,4 door,2022,0,1150000,1042000.0
3,Continental Flying Spur,Bentley,4 door,2021,2500,1100000,1100000.0
4,G-Class,Mercedes-Benz,4 door,2022,0,1000000,1018867.0
...,...,...,...,...,...,...,...
1541,G-Class,Mercedes-Benz,4 door,2022,15,788000,788000.0
1542,Range Rover,Land Rover,4 door,2022,1600,960000,960000.0
1543,Range Rover,Land Rover,4 door,2022,2700,819000,819000.0
1544,Renegade,Jeep,4 door,2018,90,40000,40000.0
1545,Land Cruiser,Toyota,4 door,2021,9178,220000,220000.0

In [48]:


r2_score(carsd["car_price"],predictions)

0.954444166018137

In [51]:
cars[cars["car_model"]=="Land Cruiser"]

,car_model,car_brand,car_doors,car_year,car_odo,car_price,predictions
32,Land Cruiser,Toyota,4 door,2022,0,360000,357451.0
99,Land Cruiser,Toyota,4 door,2022,0,465000,357451.0
148,Land Cruiser,Toyota,4 door,2022,0,417000,357451.0
209,Land Cruiser,Toyota,4 door,2022,0,188000,357451.0
231,Land Cruiser,Toyota,4 door,2022,0,253000,357451.0
...,...,...,...,...,...,...,...
1506,Land Cruiser,Toyota,4 door,2022,0,365000,357451.0
1524,Land Cruiser,Toyota,4 door,2022,0,275000,357451.0
1525,Land Cruiser,Toyota,4 door,2022,0,365000,357451.0
1528,Land Cruiser,Toyota,4 door,2022,50,419000,419000.0
1545,Land Cruiser,Toyota,4 door,2021,9178,220000,220000.0