In [24]:
import pandas as pd
import numpys
import pycaret as py
from pycaret.classification import *
from pycaret.regression import *

In [3]:
cars= pd.read_csv("cars.csv")
cars.drop(columns="Unnamed: 0",inplace=True)

In [20]:
carsd = pd.get_dummies(cars)
carsd

,car_year,car_odo,car_price,car_model_1-Series,car_model_1500,car_model_1500 TRX,car_model_2,car_model_2-Series,car_model_200/200C EV,car_model_207,...,car_brand_Suzuki,car_brand_TATA,car_brand_Tesla,car_brand_Toyota,car_brand_Volkswagen,car_brand_Volvo,car_brand_Zotye,car_doors_2 door,car_doors_3 door,car_doors_4 door
0,2022,5000,599000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2022,0,1320000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2019,101405,135000,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2022,0,1150000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2021,2500,1100000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2019,79000,98000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9996,2008,184000,30000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9997,2006,188000,25500,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9998,2017,63365,77000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9999,2013,208900,17000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [19]:
carsd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 622 entries, car_year to car_doors_4 door
dtypes: int64(3), uint8(619)
memory usage: 6.1 MB

In [43]:
clf1 = setup(data = carsd, target ='car_price' )

In [30]:
best = compare_models()

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='squared_error',
                    max_depth=None, max_features=1.0, max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_samples_leaf=1, min_samples_split=2,
                    min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                    oob_score=False, random_state=123, verbose=0,
                    warm_start=False)

In [35]:
model = create_model('et')

In [38]:
predict_model(model, data = carsd.drop(columns="car_price"))

,car_year,car_odo,car_model_1-Series,car_model_1500,car_model_1500 TRX,car_model_2,car_model_2-Series,car_model_200/200C EV,car_model_207,car_model_3,...,car_brand_TATA,car_brand_Tesla,car_brand_Toyota,car_brand_Volkswagen,car_brand_Volvo,car_brand_Zotye,car_doors_2 door,car_doors_3 door,car_doors_4 door,Label
0,2022.0,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.990000e+05
1,2022.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.545364e+06
2,2019.0,101405.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.350000e+05
3,2022.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,8.366667e+05
4,2021.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.237520e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2019.0,79000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,9.800000e+04
9996,2008.0,184000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.164000e+04
9997,2006.0,188000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.550000e+04
9998,2017.0,63365.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7.700000e+04
9999,2013.0,208900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.700000e+04

In [39]:
lis=[]
for i in carsd["car_price"]:
    lis.append(round(i,1))
cars["predictions"]= lis

In [40]:
cars

,car_model,car_brand,car_doors,car_year,car_odo,car_price,predictions
0,Carrera / 911,Porsche,2 door,2022,5000,599000,599000
1,Urus,Lamborghini,4 door,2022,0,1320000,1320000
2,Golf R,Volkswagen,4 door,2019,101405,135000,135000
3,GLS-Class,Mercedes-Benz,4 door,2022,0,1150000,1150000
4,Continental Flying Spur,Bentley,4 door,2021,2500,1100000,1100000
...,...,...,...,...,...,...,...
9995,Mustang,Ford,2 door,2019,79000,98000,98000
9996,Cayenne,Porsche,4 door,2008,184000,30000,30000
9997,SC-Series,Lexus,2 door,2006,188000,25500,25500
9998,Edge,Ford,4 door,2017,63365,77000,77000
9999,Cruze,Chevrolet,4 door,2013,208900,17000,17000

In [42]:
cars[cars["car_model"]=="Land Cruiser"]

,car_model,car_brand,car_doors,car_year,car_odo,car_price,predictions
105,Land Cruiser,Toyota,4 door,2022,0,360000,360000
150,Land Cruiser,Toyota,4 door,2012,395000,79000,79000
194,Land Cruiser,Toyota,4 door,2021,20000,237000,237000
231,Land Cruiser,Toyota,4 door,2018,123000,219900,219900
361,Land Cruiser,Toyota,4 door,2022,0,465000,465000
...,...,...,...,...,...,...,...
9709,Land Cruiser,Toyota,4 door,2022,0,365000,365000
9747,Land Cruiser,Toyota,4 door,2022,50,419000,419000
9863,Land Cruiser,Toyota,4 door,2003,135000,22500,22500
9906,Land Cruiser,Toyota,4 door,2021,9178,220000,220000
9928,Land Cruiser,Toyota,4 door,2003,310000,25000,25000